@model TaskModel

@{
    ViewBag.Title = "Add Task";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" placeholder="Enter Title">
                <span asp-validation-for="Title" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" placeholder="Enter Description">
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate"></label>
                <input asp-for="DueDate" class="form-control" placeholder="Enter Phone Number">
                <span asp-validation-for="DueDate" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssigneeId">Set Assigned Employee</label>
                <select class="form-select" asp-items="Model.Employees" asp-for="AssigneeId">
                <option selected disabled>--Select Employee--</option>
                </select>
            </div>
            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Add" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}